@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: "LibreFranklin-Regular";
  font-weight: 400;
  src: url("src/fonts/LibreFranklin-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "LibreFranklin-Light";
  src: url("src/fonts/LibreFranklin-Light.ttf") format(truetype);
}
@font-face {
  font-family: "LibreFranklin-Medium";
  src: url("src/fonts/LibreFranklin-Medium.ttf") format(truetype);
}
h1 {
  font-size: 64px;
  font-family: "LibreFranklin-Medium", sans-serif;
}

h2 {
  font-size: 32px;
  font-family: "LibreFranklin-Regular", sans-serif;
}

h3 {
  font-size: 24px;
  font-family: "LibreFranklin-Light", sans-serif;
}

p {
  font-size: 16px;
  font-family: "LibreFranklin-Light", sans-serif;
}

a {
  font-family: "LibreFranklin-Light", sans-serif;
}

header {
  display: flex;
  align-items: center;
  color: #fff;
  height: 200px;
  max-width: 1310px;
  margin: auto;
}

.header__page-link {
  margin: 0 15px;
  transition: all 0.14s ease-in-out;
  height: 30px;
  align-content: center;
}
.header__page-link:hover {
  translate: 0 -5px;
  text-shadow: 0px 0 10px rgba(15, 147, 255, 0.5019607843);
}
.header__social-link {
  margin: 0 10px;
  transition: all 0.14s ease-in-out;
}
.header__social-link:hover {
  translate: 0 8px;
}
.header__logo {
  width: 130px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-block {
  outline: 1px solid red;
  margin: 80px auto;
  display: flex;
}
.hero-block__container {
  align-content: center;
}
.hero-block__title {
  margin-bottom: 25px;
  line-height: 0.8;
  letter-spacing: -0.05em;
}
.hero-block__subtitle {
  margin-bottom: 25px;
}
.hero-block__description {
  margin-bottom: 15px;
}
.hero-block__image {
  margin: 0 auto;
  max-width: 508px;
}

@media (max-width: 768px) {
  .hero-block {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  .hero-block__image {
    margin: 0 auto;
    max-width: 100%;
  }
  .hero-block__container {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }
}
.aboutus-block {
  position: relative;
  outline: 1px solid greenyellow;
}
.aboutus-block__container {
  display: grid;
  grid-template-areas: "title title" "subtitle subtitle" "stats illustration";
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.aboutus-block__title {
  grid-area: title;
}
.aboutus-block__subtitle {
  grid-area: subtitle;
  margin-bottom: 40px;
}
.aboutus-block__stats {
  position: relative;
  grid-area: stats;
}
.aboutus-block__illustration {
  grid-area: illustration;
  max-width: 100%;
  margin: auto;
}

.stat__text {
  margin-left: 30px;
}
.stat__text > h2 {
  font-size: 38px;
  font-family: "LibreFranklin-Medium", sans-serif;
  margin-bottom: 10px;
}
.stat__item {
  display: flex;
  align-items: center;
  margin: 30px;
}
.stat__icon {
  margin-right: 30px;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 26%;
  width: 2px;
  height: 100%;
  background-color: #555555;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .aboutus-block__container {
    grid-template-areas: "title" "subtitle" "stats" "illustration";
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
}
.solutions-block {
  position: relative;
  margin: 80px auto;
  outline: 1px solid pink;
}
.solutions-block__container {
  display: grid;
  grid-template-areas: "title title" "subtitle subtitle" "infocards statements";
  column-gap: 20px;
  grid-template-columns: 1fr 1.5fr;
}
.solutions-block__title {
  grid-area: title;
}
.solutions-block__subtitle {
  grid-area: subtitle;
  margin-bottom: 15px;
}
.solutions-block__infocards {
  grid-area: infocards;
}
.solutions-block__statements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: statements;
}

.infocard {
  position: relative;
  background-color: #1E1F2A;
  border: 1px solid #13152C;
  transition: all 0.13s ease-in-out;
  border-radius: 13px;
  padding: 25px 20px;
  margin: 10px 0;
}
.infocard__header {
  margin-bottom: 10px;
}
.infocard__line {
  top: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3882352941);
  width: 100%;
  margin-bottom: 10px;
}
.infocard__text {
  margin-left: 10px;
  margin-bottom: 5px;
}
.infocard__text::before {
  content: "•";
  margin-right: 10px;
  color: #fff;
}

.statement {
  display: flex;
  margin: 15px;
}
.statement__icon {
  height: 69px;
  width: 74px;
}
.statement__text {
  text-align: justify;
}
.statement__text > h2 {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: "LibreFranklin-Medium", sans-serif;
}

.services-block {
  position: relative;
  outline: 1px solid paleturquoise;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #22232D;
  color: #fff;
}

main {
  margin: auto;
  max-width: 1310px;
  outline: 2px solid rgba(255, 255, 255, 0.3215686275);
}

.primary-button {
  display: inline-block;
  transition: all 0.14s ease-in-out;
  background-color: #01B9FB;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.primary-button:hover {
  background-color: #4cdbff;
  text-shadow: 0 0 10px rgba(85, 41, 0, 0.5019607843);
}

.action-button {
  cursor: pointer;
  font-family: "LibreFranklin-Regular", sans-serif;
  display: inline-block;
  transition: all 0.14s ease-in-out;
  background-color: #FA8022;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 16px;
}
.action-button:hover {
  background-color: #ffa52f;
  text-shadow: 0 0 10px rgba(85, 41, 0, 0.5019607843);
}

.ui-container {
  display: inline-block;
  outline: 2px solid #01B9FB;
  border-radius: 15px;
  margin: 10px;
}
.ui-container > h3 {
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #01B9FB;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

.special-text {
  color: #01B9FB;
}

.uppercase-text {
  text-transform: uppercase;
  font-weight: 600;
}

.mR50 {
  margin-right: 50px;
}

.section-marker {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border: 1px solid #949494;
  border-radius: 20px;
  color: #949494;
}

.blurred-circle {
  position: absolute;
  width: 500px;
  height: 600px;
  background-color: #73B8F8;
  border-radius: 100%;
  filter: blur(300px);
  z-index: -100;
}

.pos-1 {
  left: 0;
  translate: -300px 500px;
}

.pos-2 {
  right: 0;
  translate: 0 1600px;
}/*# sourceMappingURL=styles.css.map */