@import "../base/vars";

.aboutus-block{
    margin-top: 130px;
    margin-bottom: 130px;
    position: relative;
    // outline: 1px solid greenyellow;
    &__container{
        display: grid;
        grid-template-areas:
        "title title"
        "subtitle subtitle"
        "stats illustration";
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    &__title{
        grid-area: title;
    }
    &__subtitle{
        grid-area: subtitle;
        margin-bottom: 40px;
    }
    &__stats{
        position: relative;
        grid-area: stats;
    }
    &__illustration{
        grid-area: illustration;
        margin: auto;
        & > img {
            max-width: 100%;
        }
    }
}
.stat{
    &__text{
        margin-left: 30px;
        & > h2 {
            font-size: 38px;
            font-family: $mainFontMedium;
            margin-bottom: 10px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        margin: 30px;
    }
    &__icon{
        margin-right: 30px;
    }
}
.vertical-line{
    position: absolute;
    top: 0;
    left: 26%;
    width: 2px;
    height: 100%;
    background-color: #555555;
    transform: translateX(-50%);
}


@media ($mobileScreen) {
    .aboutus-block{
        // display: none;
        & > .section-marker{
            margin: 20px;
            translate: 0 -50px;
        }
        &__title{
            margin-bottom: 20px;
            max-width: 100%;
            font-size: $mobileH1Size;
        }
        &__subtitle{
            font-size: 16px;
        }
        &__stats{
            max-width: 100%;
        }
        &__container{
            // max-width: 100%;
            grid-template-areas:
            "title"
            "subtitle"
            "stats"
            "illustration";
            grid-template-columns: 1fr;
            column-gap: 10px;
            margin: 0 20px;
        }
        &__illustration{
            & > img {
                max-width: 100%;
            }
        }
    }
    .stat__text{
        & > h2{
            font-size: 30px;
        }
        & > h3{
            font-size: 20px;
        }
    }
    .stat__icon{
        width: 80px
    }
}