footer {
    // max-width: $wrapperWidth;

    padding: 30px 10px;
    // outline: 1px solid coral;
    border-top: 1px $grey solid;
}

.footer-block {
    &__wrapper{
        max-width: $wrapperWidth;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__logo {
        max-width: 130px;
    }
    &__page-link{
        @extend .header__page-link;
    }
    &__title{
        font-family: $mainFontMedium;
        font-size: 22px;
        margin-bottom: 15px;
    }
    &__text{

        font-family: $mainFontMedium;
        font-size: 20px;

    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        &_addres{
            margin-left: 40px;
            flex-grow: 1;
            justify-content: center;
            align-items: flex-start;
        }
        &_mobile-hidden{
            display: none;
        }
    }
    &__addres-text{
        margin: 5px 0;
        font-size: 16px;
        &::before{
            content: url("src/graphics/png/marker.png");
            background-size: cover;
            display: inline-block;
            margin-right: 5px;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    &__nav {
        height: 30px;
    }
}

@media ($mobileScreen) {
    .footer-block{
        &__container{
            justify-content: center;
        }
        &__nav{
            height: 100%;
            flex-flow: column nowrap;
        }
        &__text{
            display: none;
        }
    }
}