footer {
    // max-width: $wrapperWidth;

    padding: 34px 0 42px;
    // outline: 1px solid coral;
    border-top: 1px solid $surfaceBorderColor;
    background: $primaryColor;
}

.footer-block {
    &__wrapper{
        width: min(100% - 32px, $wrapperWidth);
        max-width: $wrapperWidth;
        display: flex;
        gap: 28px;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__logo {
        max-width: 120px;
    }
    &__page-link{
        @extend .header__page-link;
    }
    &__title{
        font-family: $mainFontMedium;
        font-size: 22px;
        margin-bottom: 12px;
    }
    &__text{

        font-family: $mainFontMedium;
        color: $textMutedColor;
        font-size: 16px;

    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        &_addres{
            margin-left: 40px;
            flex-grow: 1;
            justify-content: center;
            align-items: flex-start;
        }
    }
    &__addres-text{
        margin: 5px 0;
        color: $textMutedColor;
        font-size: 16px;
        line-height: 1.55;
        &::before{
            content: url("/src/graphics/png/marker.png");
            background-size: cover;
            display: inline-block;
            margin-right: 5px;
        }
        &:hover{
            color: $white;
            text-decoration: underline;
        }
    }
    &__nav {
        height: 30px;
    }
}

@media ($tabletLayoutScreen) {
    .footer-block {
        &__wrapper {
            flex-wrap: wrap;
            align-items: flex-start;
        }

        &__container {
            align-items: flex-start;

            &_addres {
                margin-left: 0;
            }
        }

        &__nav {
            flex-wrap: wrap;
            justify-content: flex-start;
            height: auto;
        }
    }
}

@media ($mobileScreen) {
    .footer-block{
        &__wrapper{
            width: min(100% - 22px, $wrapperWidth);
            align-items: flex-start;
        }
        &__container{
            justify-content: center;
            &_mobile-hidden{
            display: none;
            }
        }
        &__nav{
            height: 100%;
            flex-flow: column nowrap;
        }
        &__text{
            display: none;
        }
    }
}
