@import "../base/vars";

header{
    display: flex;
    align-items: center;

    color: #fff;
    height: 200px;
    max-width: $wrapperWidth;
    margin: auto;
    // outline: 1px solid red;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header{
    &__page-link{
        margin: 0 15px;
        transition: all 0.14s ease-in-out;
        height: 30px;
        align-content: center;
        &:hover{
            translate: 0 -5px;
            text-shadow: 0px 0 10px #0f93ff80;   
        }
    }
    &__socials {
        display: flex;
    }
    &__social-link{
        margin: 0 10px;
        transition: all 0.14s ease-in-out;
        &:hover{
            translate: 0 8px;
        }
    }
    &__logo{
        width: 130px;
        margin-right: 50px;
    }
}

// Кнопка консультации
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;   
    background-color: $primaryColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    display: none;
    &-form{
        & > input {
            font-family: $mainFontMedium;
            font-size: 16px;
        }
    }
}
.overlay {
    transition: all 0.3s ease-in-out;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.close-modal {
    transition: all 0.3s ease-in-out;  
    position: absolute;
    top: 20px;
    right: 25px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
.modal.show,
.overlay.show {
    display: block;
}

// Фастфуд
.burger {
    display: none;
    width: 100px;
    height: 100px;
    &__line{
        display: block;
        height: 9px;
        margin: 8px;
        width: 80%;
        background-color: #fff;
        border-radius: 5px;
    }
}
.header__nav-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $primaryColor;

    .header__logo-nav {
        width: 130px;
    }

    .nav-close {
        background: none;
        border: none;
        font-size: 2.5rem;
        line-height: 1;
        color: #fff;
        cursor: pointer;
        padding: 0;
    }
}

// Lang Switcher
.lang-dropdown {
    margin-left: 1rem;
    position: relative;
    transition: all 0.13s ease-in-out;
    &__content{
        display: none;;
        translate: 0 1px;
        position: absolute;
        border-radius: 10px;
        // border: 1px solid $grey;
        right: 0;
        background-color: #152742;
        & > a {
            display: flex;
            padding: 0.8rem 1.4rem;
            &:hover{
                background-color: #141e41;
                border-radius: 10px;
            }
            & > img {
                margin: 0 10px;
            }
        }
    }
}

.lang-dropdown.active .lang-dropdown__content {
    display: block;
}

@media ($mobileScreen) {
    header {
        height: 150px;
        justify-content: space-around;
    }
    .header__nav{
        display: none;
        transition: all 0.3s ease-in-out; 
        & > a {
            font-size: 20px;
            text-transform: uppercase ;
            margin: 10px auto;
        }

        & > .action-button {
            text-transform: uppercase;
            margin-top: 30px;
        }

        &-header{
            display: flex;
        }
    }
    .header__nav--open {
        position: fixed;
        background-color: $primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: center;

        top: 0;
        left: 0;

        height: 100vh;
        width: 100%;

        z-index: 999;
    }
    .nav-close{
        position: absolute;
        right: 0;
        top: 0;

        margin: 30px;

        font-size: 50px;
    }
    
    .header {
        &__logo{
            margin: 0 10px;
            width: 90px;
            &-nav{
                position: absolute;
                top: 0;
                left: 0;
                margin: 30px;
            }
        }
    }
    .burger {
        display: block;
    }
    .lang-dropdown {
        margin-top: 2rem;
        &__content {
            margin-top: 1rem;
            translate: 28% 0;
            & > a {
                font-size: 1.6rem;
            }
        }
    }
}




