@import "../base/vars";

.solutions-block {
    position: relative;
    margin: 130px auto;
    // outline: 1px solid pink;

    &__container {
        display: grid;
        grid-template-areas: 
        "title title"
        "subtitle subtitle"
        "infocards statements";
        column-gap: 20px;
        grid-template-columns: 1fr 1.5fr;
    }

    &__title {
        grid-area: title;
    }
    &__subtitle {
        grid-area: subtitle;
        margin-bottom: 55px;
    }
    &__infocards {
        grid-area: infocards;
    }
    &__statements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: statements;
    }
}

.infocard{
    position: relative;
    background-color: $infocardBGColor;
    border: 1px solid $infocardBorderColor;
    transition: all 0.23s ease-in-out;
    border-radius: 13px;
    padding: 25px 20px;
    margin: 10px 0;
    &__header{
        margin-bottom: 10px;
    }
    &__line{
        top: 0;
        height: 1px;
        background-color: $infocardDividerColor;
        width: 100%;
        margin-bottom: 10px;
    }
    &__text{
        margin-left: 10px;
        margin-bottom: 5px;
        &::before{
            content: "•";
            margin-right: 10px;
            color: #fff;
        }
    }
    &__description{
        color: $grey;
        font-size: 16px;
        margin: 6px 0;
        text-align: justify;
    }
    &__item{
        margin: 18px 0;
    }
}

.statement{
    display: flex;
    margin: 15px;
    align-content: center;

    &__icon{
        height: 69px;
        width: 74px;    
    }

    &__text{
        text-align:justify;
        & > h2{
            font-size: 24px;
            margin-bottom: 5px;
            font-family: $mainFontMedium;
        }
    }
}

@media ($mobileScreen) {
    .solutions-block {
        margin: 50px 1px;
        & > .section-marker{
            margin: 20px;
            translate: 0 -50px;;
        }
        &__container {
            // margin: 20px;
            grid-template-areas:
            "title"
            "subtitle"
            "infocards"
            "statements";
            grid-template-columns: 1fr;
            column-gap: 10px;
        }
        &__statements{
            margin: 30px 0;
            & > .statement {
                margin: 0;
                margin-top: 20px;
            }
        }
        &__title {
            font-size: $mobileH1Size;
        }
        &__subtitle{
            margin: 20px auto;
        }
    }

    .statement__text{
        text-align: start;
        flex: 1 1 auto;    /* разрешаем блоку расти и ужиматься */
        min-width: 0;      /* ключевой приём, чтобы flex-элемент мог стать уже содержимого */
        
        /* дополнительно, если у вас где-то слова без пробелов: */
        overflow-wrap: break-word;
    }
}