// // Colors

$primaryColor:#22232D;
$secondaryColor:#01B9FB;
$actionColor: #FA8022;

$black: #000;
$white: #fff;

// Screens

$mobile: "min-width: 375px"; 
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";

